@import '../home/style.css';

.main-content p {
  margin: 0;
}

.form-group {
  width: 27rem;
  margin-bottom: 1.5rem;
} 

.form-group input, textarea {
  width: 100%;
  border-radius: 5px;
  outline: none;
  padding: 0.875rem 1.25rem;
  font-size: 0.875rem;
  color: #000;
  background: var(--text);
  border: 2px solid var(--primary);
  margin-top: 1rem;
}

#contact-message {
  width: 100%;
}

.form-group label {
  width: auto;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--text);
}

.button-submit {
  width: 27rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
  font-size: 1.125rem;  
  font-weight: bold;  
  cursor: pointer;
  background: var(--text);
  color: var(--primary);
  border: 2px solid var(--primary);
  margin: 2.5rem 0;
  transition: all .3s;
}

.button-submit:hover {
  outline: none;
  box-shadow: 0 0 0 3px var(--primary), 0 0 0 4px var(--text);
}

@media (max-width: 859px) {
  .form-group-input-text {
    flex-direction: column;
  }  
} 

@media (max-width: 510px) {
  .form-group {
    width: auto;
  } 
  .button-submit {
    width: auto;
  } 
} 
